body{
	background-color:#d9d9d9 ;
	font-family: 'Oswald', sans-serif;
}
#content{
	margin:20px auto;
	padding:10px 10px;
	width:1080px;
	height:510px; 
	background-color:#661400;
}
#garea{
	margin-top:10px;
	width:570px;
	height:600px;
	float:left;
	position: relative;
}
canvas{
	position:absolute;
}
#scoreholder{
	width:100%;
	height:50px;
}
#score{
	float:left;
	margin:5px 10px;
	font-size: 24px;
}
#scorechanges{
	float:left;
	margin:5px 10px;
	padding:top:4px;
	font-size: 22px;	
	color:#333333;
}
#menuholder{
	width:500px;
	height:500px;
	float:left;
    background-color: #367d36;
}
#menubuttonholder{
	margin:0 auto;
width:366px;
height:48px;
}
#menubuttonholder ul {
	font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#menubuttonholder li {
	margin: 0 ;
    background-color: #2e6b2e;
	display: inline-block;
    color: #c2d6d6;
    text-align: center;
    float: left;
    cursor:pointer;
}
#menubuttonholder a{
	width:106px;
	height:56px;
	display: inline-block;
	text-align: center;
    padding:2px 6px;
    border:1px solid #1f471f;
}

#menubuttonholder a:hover {
	color:#3d5c5c;
    background-color: #1aff53;
}

.menus{
	padding:12px 14px;
	margin:20px auto;
	width:422px;
	height:355px;
	display:none;
	background-color: #85adad;
	border-radius:6px;
}
#menu2{
	font-size:18px;

}
#menu2 table{
	border-spacing: 8px;
    border-collapse: separate;
	margin:10px auto;
	text-align:center;
}
#menu2 td{

	height:80px;
	background-color:rgba(0,170,0,.4)
}
.r2{
	width:270px;
}
.levels{
	width:30px;
}
#menu4{
	font-size:22px;
}
#menu4 td{
	width:460px;
}
.righttd{
	width:40px;
	text-align:right
}